{% extends "template.html" %}
{% block conteudo %}
<table class="table">
    <thead class="thead-dark"> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>
    <tbody>
    {% for dados in lista_produtos %} 
      <tr>
        <th scope="row">{{dados.codigo}}</th>
        <td>{{dados.Codigo}}</td>
        <td>{{dados.descricao}}</td>
        <td>{{dados.valor}}</td>
        <td>{{dados.quantidade}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}  